html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins';
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header-container {
    padding-top: 55px;
    padding-bottom: 55px;
}


.container {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo-link {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 236px; 
    text-decoration: none;
}

.logo-accent {
    color: #939393;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.link-nav {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #263238;
    text-decoration: none;
}

.nav-btn {
    border: 2px solid #263238;
    width: 312px;
    height: 70px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
    margin-left: 120px;
    background-color: #FFFFFF;
}

.nav-btn:hover {
    background-color: #263238;
    color: #FFFFFF;
    cursor: pointer;

}

.main-container {
    min-width: 1400px;
}

.section-box {
    display: flex;
    align-items: center;
}

.section-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25;
    color: #000000;
    width: 386px;
    margin-left: 131px;
    margin-bottom: 40px;   
}

.box-img {
    padding-left: 170px;
}

.section-text {
    width: 700px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: #8F95A5;
    padding-left: 131px;
}

.section-btn {
    width: 426px;
    height: 100px;
    background: #263238;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 131px ;
}

.btn-inside {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;   
}

.section-skill {
    padding-left: 15px;
    padding-right: 15px;
        
    margin-left: auto;
    margin-right: auto;
    padding-top: 180px;
}

.skill-container {
    max-width: 1200px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.skill-header {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    color: #000000;
    text-align: center;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.skill-list > .skill-item {
    flex-basis: calc((100% - 20px) / 3);
    margin-left: 20px;
    margin-top: 20px;

}

.skill-item {
    background: #F5F5F5;
    border-radius: 10px;
    width: 426px;
    height: 947px
}



