html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins';
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header-container {
  /* min-width: 1200px;
  display: flex;
    align-items: center; */
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.logo-link {
    display: inline-block;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}

.logo-accent {
    color: #939393;
}

.nav-list {
    display: flex;
    list-style: none;
    
}

.nav-item {
    margin-right: 50px;
     
}

.link-nav {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #263238;
    text-decoration: none;
}

.nav-btn {
    border: 2px solid #263238;
    border-radius: 10px;
}

.btn-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;

}

.main-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25;
    color: #000000;
}

.main-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: #8F95A5;
}

.main-btn {
    background: #263238;
    border-radius: 10px;
}

.btn-inside {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}