:root {

    --main-color: #000000;
    --subprime-color: #939393;
    --dark-color:  #263238;
    --font-size: 20px;
    --color-white: #ffffff;
    --line-height: 1.5;
    --font-weight: 400;
    --background: #F5F5F5;
    --color-btn: #2A3246;
    --grey-color: #8F95A5;
  }
  